

<!--   {% if page.switches contains "request-" %}
  If browser tem a funcao
    if server tem permissao
      nada
    else server nao tem a funcao
      #request
  else browser nao tem a funcao
    #sorry
  {% endif %} -->

<!-- <div id="request">
  <div class="modal">
    <div class="icon">{% include icons/checklist.svg %}</div>
    <div class="checklist">
          {% if page.uses contains "request-motion" %}
 <a class="motion" href="#" onclick='requestMotionPermission();'>{% include icons/warning.svg %}Allow gyroscope permissions</a>
{% endif %}


   <a href="JavaScript:void(0)" class="launch" onClick='var element = document.getElementById("request");
   element.classList.add("closed");
   '>✨ Launch</a>
</div>
</div> -->

<!-- <div id="sorry">
  <div class="modal">
    !!!
  </div> -->