

<!--   {% if page.switches contains "request-" %}
  If browser tem a funcao
    if server tem permissao
      nada
    else server nao tem a funcao
      #request
  else browser nao tem a funcao
    #sorry
    {% endif %} -->

 <!--    
 -->
 {% if page.switches contains "request-" %}
<div id="request">
  <div class="modal">
    <div class="icon">{% include icons/checklist.svg %}</div>
    <div class="checklist">
 <a class="motion" href="#" onclick='requestMotionPermission();'>{% include icons/warning.svg %}Allow gyroscope permissions</a>
   </div>

   <a href="JavaScript:void(0)" class="launch" onClick='var element = document.getElementById("request");
   element.classList.add("closed");
   '>
 ✨ Launch</a>
</div>
</div>
 <script>
 	let button;
 	let motionSupport;
 	let motionGranted;

 	function setup() {
 		createCanvas(500, 500);

 		if (typeof(DeviceMotionEvent) !== 'undefined' && typeof(DeviceMotionEvent.requestPermission) === 'function') {
 			motionSupport = true;
 			button = createButton('Request Motion');
 			button.mousePressed(motionAccess);
text("please let me in", 100, 100);
 		}
 		else {
 			motionSupport = false;
 			text("sorry loser", 100, 100);
 		}
 	}



 	function motionAccess() {
 		DeviceMotionEvent.requestPermission() 
 		.then(response => {
 			if (response == 'granted') {
 				motionGranted = true;
 			} else {
 				motionGranted = false;
 			}

 		})
 		.catch(console.error);
 	}

 	function draw() {
motionAccess();
noLoop;
  // if (motionSupport) {
  // 	if (motionGranted) {
  // 		text("yay!", 100, 100);

  // 	} else {
  // 		text("fuck you", 100, 100);
  // 	}

  // } else {
  // 	text("sorry loser", 100, 100);
  // }

}

</script>
{% endif %}
